/* Nav */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar-toggler {
    border: solid 2px;
}
.nav-link.active {
    font-weight: bolder;
}
.nav-link {
    transition: transform 0.2s; 
}
.nav-link:hover {
    transform: scale(1.2); 
}
.fa-moon{
    display: none;
}
.dark-mode-toggle {
    border: solid 2px;
}
.btn-scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: solid 2px;
}
.dark-mode-toggle:hover, .btn-scroll-to-top:hover{
    background-color: rgb(66, 144, 168);
}
body[data-bs-theme="dark"] .dark-mode-toggle:hover, body[data-bs-theme="dark"] .btn-scroll-to-top:hover {
    background-color:blue;
}

/* Main */
.container{
    margin-top: 100px;
}
td, th{
    border: solid 2px;
}
.form-control{
    border: solid 2px;
}

/* CSS untuk layar kecil */
@media (max-width: 767px) {
    .navbar-toggler-icon {
        order: 2;
    }
    .navbar-nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .navbar.show .navbar-nav {
        display: flex;
        order: 3;
    }
    .dark-mode-toggle {
        order: 2;
    }
    .navbar-brand.d-none.d-lg-block {
        display: none;
    }
}

/* CSS untuk layar besar */
@media (min-width: 768px) {
    .navbar-toggler-icon {
        order: -1;
    }
    .navbar-brand {
        order: 0;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        order: 1;
    }
    .dark-mode-toggle {
        order: 3;
    }
}