.fa-moon{
    display: none;
}
.navbar-toggler {
    border: solid 2px;
}
.dark-mode-toggle {
    border: solid 2px;
}
.dark-mode-toggle:hover {
    background-color: #0056b3; 
}
.nav-link.active {
    font-weight: bolder;
}
.nav-link {
    transition: transform 0.2s; 
}
.nav-link:hover {
    transform: scale(1.2); 
}

/* CSS untuk layar kecil */
@media (max-width: 767px) {
    .navbar-toggler-icon {
        order: 2;
    }
    .navbar-nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .navbar.show .navbar-nav {
        display: flex;
        order: 3;
    }
    .dark-mode-toggle {
        order: 2;
    }
    .navbar-brand.d-none.d-lg-block {
        display: none;
    }
}

/* CSS untuk layar besar */
@media (min-width: 768px) {
    .navbar-toggler-icon {
        order: -1;
    }
    .navbar-brand {
        order: 0;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        order: 1;
    }
    .dark-mode-toggle {
        order: 3;
    }
}
